<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>
        <fa-icon class="" [icon]="faBalanceScale"></fa-icon> <b> Datai&#414;</b>Lex
    </span>
        <span class="spacer"></span>
        <p style="font-size:12px;padding-top:10px">
            <mat-form-field appearance="standard">
                <mat-label>Buscar arquivos</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
        </p>
        <button mat-button><mat-icon>search</mat-icon></button>
        <!--<button mat-button><mat-icon>file_copy</mat-icon> Arquivos </button>
        <button mat-button> <mat-icon>help_outline</mat-icon> Ajuda</button>-->
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon color="accent">clear</mat-icon>
        <span>SAIR</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>notifications</mat-icon>
        <span>Alertas</span>
      </button>
      <button mat-menu-item>
        <mat-icon>help_outline</mat-icon>
        <span>Ajuda</span>
      </button>
    </mat-menu>
     </mat-toolbar-row>
     </mat-toolbar>
     
<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
  <span style="margin-left: 8px;"> {{ path || 'Arquivos /' }}{{ selected }} </span>
  <span class="spacer"></span>
  <fa-icon class="pointer file-or-folder file-or-folder-icon" (click)="openNewFolderDialog()" [icon]="faFolderPlus"></fa-icon>
</mat-toolbar>

<div class="list-container mat-elevation-z8" [ngClass]="{'visible': showFile}">
  <mat-table #table [dataSource]="fileElements">
    <ng-container matColumnDef="list">
      <mat-cell
        *matCellDef="let element"
        flexLayout="column"
        (click)="navigate(element)"
        (contextmenu)="openMenu($event, menuTrigger)"
        class="file-or-folder"
      >
      <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
        <span
          [matMenuTriggerFor]="rootMenu"
          [matMenuTriggerData]="{element: element}"
          #menuTrigger="matMenuTrigger">
        </span>
        <fa-icon class="file-or-folder-icon pointer" [icon]="faFolder" *ngIf="element.isFolder"></fa-icon>
        <fa-icon class="file-or-folder-icon pointer" [icon]="faFilePDF" *ngIf="!element.isFolder" (click)="openDocument('assets/'+element.file, element.name)"></fa-icon>
        <span class="pointer" *ngIf="element.isFolder">{{element.name}}</span>
        <span class="pointer" *ngIf="!element.isFolder" (click)="openDocument('assets/'+element.file, element.name)">{{element.name}}</span>
    </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"class="file-or-folder">
          <span class="spacer"></span>
        <a  type="button" (click)="deleteElement(element)">
          <mat-icon class="pointer icon" color="warn">delete</mat-icon>
        </a>
      </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<section id="viewer" [ngClass]="{'visible': showFile}" style="height: 100%; margin-top:10px; padding-bottom: 30px;">
    <p *ngIf="pdfViewer.getNumberOfPages() === 1">
        <button color="warn" mat-mini-fab (click)="fechar()" style="float:right;margin-right: 20px;font-size:30px;">&times;</button>
      </p>
  <p *ngIf="pdfViewer.getNumberOfPages() > 1">
    Página: {{ pdfViewer.getCurrentPage() }} de {{ pdfViewer.getNumberOfPages() }}
    <button color="primary" mat-raised-button (click)="pdfViewer.prevPage()" [disabled]="pdfViewer.getCurrentPage() === 1">Anterior</button>&nbsp;
    <button color="primary" mat-raised-button (click)="pdfViewer.nextPage()" [disabled]="pdfViewer.getCurrentPage() === pdfViewer.getNumberOfPages()">Próxima</button>&nbsp;
    <button color="warn" mat-mini-fab (click)="fechar()" style="float:right;margin-right: 20px;font-size:30px;">&times;</button>
  </p>
  <simple-pdf-viewer #pdfViewer [src]=""></simple-pdf-viewer>
</section>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item
    [matMenuTriggerFor]="moveToMenu"
    [matMenuTriggerData]="{self: element}">
    <mat-icon>open_with</mat-icon>
    <span>Mover para</span>
  </button>
  <button mat-menu-item (click)="openRenameDialog(element)">
    <mat-icon>edit</mat-icon>
    <span>Renomear</span>
  </button>
  <button mat-menu-item (click)="deleteElement(element)">
    <mat-icon color="warn">delete</mat-icon>
      <span>Apagar</span>
  </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template matMenuContent let-self="self">
    <ng-container *ngFor="let element of fileElements">
      <button
        *ngIf="element.isFolder && element.id !== self.id"
        mat-menu-item
        (click)="moveElement(self, element)">
        {{element.name}}
      </button>
    </ng-container>
  </ng-template>
</mat-menu>


