@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
}

.example-full-width {
    min-width: 300px;
}

.mat-card,
.file-or-folder {
    color: navy !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-grid-tile.hidden, mat-progress-bar.hidden {
    display: none;
}

mat-grid-tile.visible, mat-progress-bar.visible {
    display: block;
}

mat-list-item.hidden mat-list-item-content {
    display:none !important;
    height: 0px;
}

mat-list-item.hidden {
    display:none !important;
    height: 0px;
}

.mat-expansion-panel-body {
    padding:0 !important;
}

.mat-expansion-panel-spacing {
    margin:0 !important;
}

.pdfViewerContainer {
    overflow:hidden !important;
}

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    --webkit-touch-callout: none;
    --webkit-user-select: none;
    --khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-or-folder {
    padding: 8px;
    overflow: hidden;
}

.file-or-folder-icon {
    width: 30px;
    min-height: 30px;
    font-size: 30px;
    margin-right: 10px;
}

.pointer {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

#martillo {
    background-image: url('assets/martillo.jpg');
    background-size: cover;
    padding-top: 8em !important;
}

.example-card {
	width: 400px;
    margin: 0 auto;
}

.example-form {
    display: flex;
    flex-direction: column;
  }
  
  .example-form > * {
    width: 100%;
  }

  .right {
      float: right !important;
  }

  .pdfViewer {
      height: calc(100vh - 150px) !important;
      overflow: auto;
      max-width:100%;
      padding-top: 10px;
  }
  .grid-list {
      height: calc(100vh - 70px);
  }

 .baseline-top .mat-figure {
      align-items: baseline !important;
  }

  mat-list-item {
      font-size:13px !important;
  }

  .example-header-image {
    background-image: url('assets/martillo.jpg');
    background-size: cover;
  }